body {
    font-family: courier new;
    background-color: #04010c;
    background-image: url(fondo3.jpg);
    background-position: right;
    background-size: 500px ;
    background-repeat: no-repeat;
    color: #f4f6f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#bodyNuevo {
    font-family: courier new;
    background-color: #23174b;
    background-image: url(fondo2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #f4f6f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    color: #e66dfb;
    font-weight: bold;
    text-shadow: 3px 2px 2px #1afef1;
    padding: 10px;
    margin-bottom: 0;
    text-align: center;
    letter-spacing: 5px;
}
.container {
    background-color: #381658;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    text-align: center;
    display: block;
    box-shadow: #122 10px 10px 30px 10px;
}



label{
    display: block;
    margin-bottom: 10px 0 5px;
}

input{
    color: #ddd;
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #381e4f;
    border: 1px solid #535155;
    border-radius: 4px;
}

button{
    background-color: #352044;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #b0a3bd;
}

/* Estilos para el Modal */
.modal {
    display: none; /* Inicialmente oculto */
    position: fixed;
    z-index: 1; /* Está en la parte superior de la página */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

/* Contenido del Modal */
.modal-content {
    color: #ad91b2;
    background-color: rgba(0, 0, 0, 1);
    margin: 10% auto; /* Centrado vertical */
    padding: 20px;
    border-radius: 8px;
    width: 300px; /* Ancho fijo */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Botón de cierre */
.cerrar {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.cerrar:hover,
.cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*.checkbox {
    display:inline-flex;
    align-items:center;
}*/


/*
input[type="checkbox"] {
    margin-right: 50px;
}
*/